body {
    font-family: 'Inconsolata', monospace;
    padding: 2em;
}

code {
    background-color: #efefef;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right:  0.5em;
    border-radius: 0.4em;
}

.button{
  display: block;
  width: 200px;
  padding: 0.5em;
  /*width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;*/
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  text-transform: uppercase;
  font-weight: bold;
}

.button span{
  position: relative;
  z-index: 2;
}

.button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
  color:  white;
}

.button:hover{
  color: white;
  cursor: grab;
}

.button:hover:after{
  width: 100%;
}